<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.here_you_go.project.dao.IBoardDAO">
    <resultMap id="boardResultMap" type="com.here_you_go.project.model.BoardVO">
	     <id property="bodNo" column="bodNo"/>
	     <result property="bodTitle" column="bodTitle"/>
	     <result property="memId" column="memId"/>
	     <result property="bodDate" column="bodDate"/>
	     <result property="bodText" column="bodText"/>
    </resultMap>
    
    <!-- 전체 게시글 조회 --> 
  	<select id="listAllBoard" resultMap="boardResultMap">
  		SELECT * FROM board ORDER BY bodNo DESC
  	</select>
  	
  	<!-- 게시글 상세 내용 조회 -->
  	<select id="detailViewBoard" parameterType="string"
  				  resultType="com.here_you_go.project.model.BoardVO">
  		SELECT bodNo, bodTitle, memId, bodText  FROM board WHERE bodNo = #{bodNo}
  	</select>
	
		<!-- 게시글 추가 -->
    <insert id="insertBoard" parameterType="com.here_you_go.project.model.BoardVO">
       <!--  INSERT INTO board (bodTitle, memId, bodDate, bodText)
        VALUES (#{bodTitle}, #{memId}, #{bodDate}, #{bodText}) -->
				INSERT INTO board (bodTitle, memId, bodDate, bodText)
        VALUES (#{bodTitle}, #{memId}, NOW(), #{bodText})
    </insert>

		<!-- 게시글 수정 : 수정된 데이터 DB에서 update(저장)  -->
  	<!-- 주의!!! : 기본키인 게시글 번호는 수정 안 함 -->
  	<update id="updateBoard">
  		UPDATE board SET bodTitle=#{bodTitle}, memId=#{memId},
  					  bodText=#{bodText}
  		WHERE bodNo=#{bodNo}
  	</update>
  	
  	<!--  상품 정보 삭제 -->
  	<!-- 파라미터로 상품번호 전달 받음 -->
  	<delete id="deleteBoard" parameterType="string">
  		DELETE FROM board WHERE bodNo=#{bodNo}
  	</delete>
  	
  	<!-- 게시글 검색 -->
  	<select id="boardSearch" parameterType="hashmap" resultMap="boardResultMap">
  		SELECT * FROM board WHERE 
  			<choose>
  				<when test="type != null and type.equals('bodTitle')">
  					bodTitle LIKE CONCAT('%',#{keyword},'%')
  				</when>
  				<when test="type != null and type.equals('memId')">
  					memId LIKE CONCAT('%',#{keyword},'%')
  				</when>
  			</choose>
  	</select>

  </mapper>