<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.here_you_go.project.dao.IMemberDAO">

	<select id="normalLogin" parameterType="string" resultType="string">
		SELECT memPwd FROM member WHERE memId=#{id}
	</select>

	<insert id="joinMember"
		parameterType="com.here_you_go.project.model.MemberVO">
		
		INSERT member(memId, memPwd, memEmail, memName, memBirth,
		memTelcom, memGender, memNation, memHP)
		VALUES(#{memId}, #{memPwd}, #{memEmail}, #{memName},
		#{memBirth}, #{memTelcom}, #{memGender}, #{memNation}, 
		#{memHp})
	
	</insert>
	
	<update id="updateMember">
	UPDATE member
	SET
	   memName = #{memName},
	   memEmail = #{memEmail},
	   memHP = #{memHp},
	   memPwd = #{memPwd}
	WHERE
	   memId = #{memId}
	
	</update>

</mapper>