@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GmarketSansMedium"
}


/* 메인 섹션 스타일링 */
main {
    padding: 20px;
    margin-bottom:20px;
}

section.board ,section.page {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight:bold;
    color: #333;
    font-family: "GmarketSansMedium"
}


#search-input,
#categoryFilter,
#searchBtn {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

#searchBtn {
    background-color: firebrick;
    color: white;
    cursor: pointer;
    border: none;
}

#searchBtn:hover {
    background-color: rgb(214, 137, 137);
}

/* 테이블 스타일링 */
table.post-table {
    width: 100%;
    border-collapse: collapse;
}


table.post-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
}

#question {
	text-align: left;
}

table.post-table th {
		color: white;
    background-color: firebrick;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/*  짝수 행 배경색 변경 */
table.post-table tr:nth-child(even) { 
    background-color: #f9f9f9;
}

table.post-table tr:hover {
    background-color: #f1f1f1;
}

/*  직접 문의하기 */

#directBtn {
		background-color: firebrick;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    float: right;
}

#directBtn:hover {
		background-color: rgb(214, 137, 137);
}

/* 페이지 번호 */
.page {
    text-align: center;
    
}

.page-list {
    
    padding: 0;
		margin-top: 13px;
}

.page-list li {
    display: inline-block;
    
}

.page-link {
    color: black;
    cursor: pointer;
		font-size: 20px;
		margin-left: 20px;
}

.page-link:hover {
    background-color: #f2f2f2;
}

#boardRow:hover {
		cursor:pointer;
}



