@charset "UTF-8";

/* LoginChoice */

.loginPage {
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444;
}
.login_page_title {
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  margin-top: 30px;
}
.boxWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 200px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
}
.buttonBox:hover {
  background-color: firebrick;
  color: #fff;
}

.buttonBox div {
  font-size: 20px;
  font-weight: 700;
}
