@charset "UTF-8";


.prd_wrap {
color: #555;
	
};

.rsv_btn {
	  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	 width: 160px;
  height: 60px;
}

.reservation_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  cursor: pointer;
  border: 3px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: #555;
  margin-bottom: 50px;
  font-weight: 500;
}

.prd_image {
	width: 700px;
	height: 500px;
	border-radius: 20px;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
}

.reservation_btn:hover {
  font-weight: 700;
  background-color: firebrick;
  color: #fff;
}
